body {
    background-color: #fff;
    margin: 0 auto;
}

#container {
    /*background-color: #252525;*/
}

#title {
    padding: 20px;
    margin-bottom: 0px;
    width: 100%;
    
    /*position: fixed;
    top: 0px;
    left: 0px;*/
}
#title img {
    height: 150px;
}
#title table {
    margin-left: auto;
    margin-right: auto;
}
#title td {
    color: #00f;
}
#title h1 {
    font-size: 2.5em;
}
#title h2 {
    font-size: 2em;
}
#title h1, #title h2 {
    margin: 0;
    text-align: center;
}

#content {
    /*margin-top: 250px;*/
    margin-top: 20px;
}

thead {
    background-color: #f35400;
    color: white;
}
